.app-footer{
position: fixed;
display: flex;
align-items: center;
justify-content: center;

margin-block-start: 3rem;
bottom:0px;
padding: var(--large-space);
width: calc(100vw);

background-color: rgb(255, 255, 255);
-webkit-box-shadow: 0px 0px 0px 0px var(--shadow3);
box-shadow: 0px 0px 5px 2px var(--shadow3);

}