.add-note {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

.add-note .note-inputs {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.39);
    /* border-radius: 10px; */
    padding: 0.5rem;

}

.add-note .note-inputs textarea {
    border: 0;
    font-family: roboto;
    width: 40vw;
    max-width: 400px;
    min-width: 250px;
}

.add-note .note-input-title {
    height: 2.5rem;
    padding: 2px;
    resize: none;
    overflow: hidden;
    max-height: max-content;
    
}

.add-note .note-input-txt {
    height: max-content
}
