.label{
    width: 10rem;
    padding: 0.5rem;
    border-radius: 3px;
    display: block;
    margin-block-end: 0.3rem;
    font-size: 80%;
}

.label-picker{
    position: fixed;
    right:0;
    top:0;
    background-color: #204050;
    padding: 0.5rem;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    color:white;
    transition: 1s;
}

.label-picker li:hover{
    cursor: pointer;
}