    .note-actions {
        display: grid;
        height: 32px;
        justify-content: space-between;
        padding: 0 0.5rem 0.5rem 0.5rem;
        position: absolute;
        bottom: 0;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .note-actions button {
        height: 70%;
        background-color: inherit;

    }

    .note-actions input[type="color"] {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        display: hidden;
        position: absolute;
    }

    i:hover {
        cursor: pointer;
    }

    .note-actions-edit {
        display: flex;
        flex-direction: column;
    }

    .btns-edit {
        display: flex;
        justify-content: space-between;
    }

    .btn-close {
        margin-block-start: var(--large-space);
        width: 40%;
        justify-self: center;
        border-radius: 10px;
        border: 1px dashed red;
        height: 30px;
    }

    .close-area-btn {
        display: grid;
    }