.note-list {
    columns: auto 12em;
}

.note-preview input{
    height: 150px;
}
/* 
.note-list ul li{
    padding: 10px;
    background-color: whitesmoke;
    min-height: 160px;
    border: 2px solid black;
    text-align: center;
}

.note-list ul li img{
    width:65%;
    margin: 1rem;
} */