.note-side-bar {
    position: fixed;
    z-index: 10;
    gap: 15px;
    padding-inline: 5px;
    height: 100vh;
    border-inline-end: 1px solid var(--clr2);
    background: var(--clr1);

;
}

  .note-side-bar.extend .text {
    display: block;
}

.note-side-bar.extend .side-bar-btn {
    width: var(--side-bar-width);
}

.note-side-bar:hover .side-bar-btn {
    width: var(--side-bar-width);
}

.note-side-bar:hover .text {
    display: block;
}



