.note-preview .note-content{
    height:max-content;
    width: 100%;
    border-radius: 5px; 
    padding: .4rem .4rem 2rem .4rem;
    resize: none;
    overflow: hidden;
    color:black;
    margin-block-end: 1rem;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}


.note-preview{
    position: relative;

}
