:root {

  --clr0: #202124; /* Base Site Color */
  --clr1: #eee; /*Background */
  --clr2: rgb(180, 180, 180); /* Border Inline*/
  --clr3: rgb(145, 145, 145); /* NavBar */
  --clr4: #5f6368; /*keep logo*/

  --white: rgb(255, 255, 255); /* Header & Footer */
  
  
  --shadow: rgba(0, 0, 0, 0.39); /* Notes Shadow */
  --shadow2: rgba(0, 0, 0, 0.98); /* Header Shadow */
  --shadow3: rgba(0, 0, 0, 0.4); /* Footer Shadow */

  --min-space: .3rem;
  --med-space: .5rem;
  --med2-space: .8rem;
  --large-space: 1rem;
  --xLarge-space: 2rem;
  --xxLarge-space: 4rem;
} 