.email-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 10px;
    outline: 1px solid rgb(214, 214, 214);
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    cursor: pointer;
    color:#202124; 
}

.email-preview:hover {
    box-shadow: inset 1px -1px 20px 0px rgba(114, 127, 141, 0.274);
}

.unread {
    background-color: rgba(177, 177, 177, 0.568);
}

.read {
    background-color: rgb(242,246,252);
    color:#a1a1a1; 
}

/* .email-preview p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}  */
