.search-emails-filter {
    padding-inline-start: 50px;
    padding-block: 10px;
    /* margin-block-end: 15px; */
    border-block-end: 1px solid rgb(196, 196, 196);
}

.search-emails-filter img {
    height: 50px;
}

.search-emails-filter [type="text"] {
    border: none;
    width: 70%;
    outline: none;
    background-color: rgba(183, 218, 231, 0.719);
    height: 45px;
    padding: 10px;
    border-radius: 10px;
}

.search-emails-filter .readBtn {
    height: 40px ;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.mark {
    background-color: rgb(0, 255, 170);
}


