.search-emails-filter {
    padding-inline-start: 20px;
    padding-inline-end: 10px;
    padding-block: 10px;
    /* margin-block-end: 15px; */
    border-block-end: 1px solid rgb(196, 196, 196);
    gap: 10px;
}

.search-emails-filter img {
    height: 50px;
}

.search-emails-filter [type="text"] {
    border: none;
    width: 70%;
    outline: none;
    background-color: rgba(183, 218, 231, 0.719);
    height: 45px;
    padding: 10px;
    border-radius: 10px;
}

.toggle-sideBar-btn {
    background-color: inherit;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    padding: 5px;
    height: 45px;
    width: 45px;
}

.toggle-sideBar-btn:hover {
    background-color: rgba(185, 185, 185, 0.438);
}

.search-emails-filter .readBtn {
    height: 40px ;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    /* background-color: rgb(185, 185, 185); */
    outline: 1px solid grey;
    color: rgb(44, 44, 44);
}

.mark {
    background-color: rgba(155, 155, 155, 0.568);
    color: rgb(255, 255, 255);
}


